<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,805},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,644},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,644},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,805},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,644},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,805},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,644},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,805},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,805},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,805},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,644},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,483},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,322},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,161},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>AvatarList.png</string>
			</dict>
		</dict>
</plist>