<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,382},{90,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{90,95}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,191},{90,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{90,95}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,191},{90,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{90,95}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>100k.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,383},{88,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,12},{88,92}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>100m.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,305},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{91,94}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>10k.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{91,94}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>10m.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,91},{85,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,13},{85,89}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>1b-.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{112,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{112,113}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,400},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{91,94}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>1k.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{91,94}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>1m.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,95},{91,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{91,95}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,287},{90,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{90,95}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>50.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,287},{90,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{90,94}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>500.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,0},{86,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,12},{86,90}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>500k.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,209},{91,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{91,95}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>500m.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{91,94}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>50k.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,305},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{91,94}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>50m.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,0},{89,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,12},{89,93}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>5b.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,94},{87,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,13},{87,90}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>5k.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,210},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{91,94}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

			<key>5m.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,114},{91,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,12},{91,95}}</string>
				<key>sourceSize</key>
				<string>{113,114}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>ChipCasino.png</string>
			</dict>
		</dict>
</plist>