<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,125},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>10co.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,100},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>10ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,75},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>10tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,50},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>11bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,25},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>11co.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,0},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>11ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>11tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>12bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>12co.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>12ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,125},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>12tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>13bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,75},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>13co.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>13ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,25},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>13tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>14bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,125},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>14co.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,0},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>14ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,225},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>14tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,200},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>1bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,125},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>1co.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,0},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>1ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,225},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>1tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,200},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>2bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,175},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>2co.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,150},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>2ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,125},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>2tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,100},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>3bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,75},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>3co.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,50},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>3ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,25},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>3tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>4bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,225},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>4co.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,200},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>4ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,175},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>4tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,150},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>5bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,125},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>5co.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,100},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>5ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,75},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>5tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,50},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>6bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,25},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>6co.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>6ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,225},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>6tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,200},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>7bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,175},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>7co.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,150},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>7ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,25},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>7tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,100},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>8bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,75},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>8co.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,50},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>8ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,25},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>8tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,0},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>9bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,225},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>9co.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,200},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>9ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,175},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

			<key>9tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,150},{36,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,24}}</string>
				<key>sourceSize</key>
				<string>{36,24}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>MiniCardPlis.png</string>
			</dict>
		</dict>
</plist>