<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,526},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,420},{62,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,52}}</string>
				<key>sourceSize</key>
				<string>{62,52}</string>
			</dict>

			<key>card_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,632},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_11_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,128},{87,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,123}}</string>
				<key>sourceSize</key>
				<string>{87,123}</string>
			</dict>

			<key>card_11_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,889},{89,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,126}}</string>
				<key>sourceSize</key>
				<string>{89,126}</string>
			</dict>

			<key>card_11_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,889},{89,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,126}}</string>
				<key>sourceSize</key>
				<string>{89,126}</string>
			</dict>

			<key>card_11_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,521},{88,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,122}}</string>
				<key>sourceSize</key>
				<string>{88,122}</string>
			</dict>

			<key>card_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,685},{34,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,53}}</string>
				<key>sourceSize</key>
				<string>{34,53}</string>
			</dict>

			<key>card_12_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,398},{96,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,122}}</string>
				<key>sourceSize</key>
				<string>{96,122}</string>
			</dict>

			<key>card_12_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,641},{95,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,123}}</string>
				<key>sourceSize</key>
				<string>{95,123}</string>
			</dict>

			<key>card_12_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,521},{95,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,119}}</string>
				<key>sourceSize</key>
				<string>{95,119}</string>
			</dict>

			<key>card_12_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,765},{95,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,123}}</string>
				<key>sourceSize</key>
				<string>{95,123}</string>
			</dict>

			<key>card_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,420},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_13_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,398},{87,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,122}}</string>
				<key>sourceSize</key>
				<string>{87,122}</string>
			</dict>

			<key>card_13_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,644},{88,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,123}}</string>
				<key>sourceSize</key>
				<string>{88,123}</string>
			</dict>

			<key>card_13_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,850},{85,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,122}}</string>
				<key>sourceSize</key>
				<string>{85,122}</string>
			</dict>

			<key>card_13_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{87,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,127}}</string>
				<key>sourceSize</key>
				<string>{87,127}</string>
			</dict>

			<key>card_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,579},{34,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,51}}</string>
				<key>sourceSize</key>
				<string>{34,51}</string>
			</dict>

			<key>card_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,338},{36,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,52}}</string>
				<key>sourceSize</key>
				<string>{36,52}</string>
			</dict>

			<key>card_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,631},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,473},{35,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,52}}</string>
				<key>sourceSize</key>
				<string>{35,52}</string>
			</dict>

			<key>card_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,579},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,684},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,526},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,473},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,52}}</string>
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>

			<key>card_back_red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,199},{147,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{147,198}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>

			<key>card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{147,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{147,198}}</string>
				<key>sourceSize</key>
				<string>{149,201}</string>
			</dict>

			<key>card_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,768},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,81}}</string>
				<key>sourceSize</key>
				<string>{77,81}</string>
			</dict>

			<key>card_bich_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,973},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>card_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,768},{86,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,81}}</string>
				<key>sourceSize</key>
				<string>{86,81}</string>
			</dict>

			<key>card_co_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,850},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,36}}</string>
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>

			<key>card_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,252},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,85}}</string>
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>

			<key>card_ro_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,850},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>card_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,338},{75,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,81}}</string>
				<key>sourceSize</key>
				<string>{75,81}</string>
			</dict>

			<key>card_tep_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,973},{35,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,38}}</string>
				<key>sourceSize</key>
				<string>{35,38}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>