<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,233}</string>
                <key>spriteSourceSize</key>
                <string>{253,233}</string>
                <key>textureRect</key>
                <string>{{244,964},{253,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grand_Dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,233}</string>
                <key>spriteSourceSize</key>
                <string>{253,233}</string>
                <key>textureRect</key>
                <string>{{0,1197},{253,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Same_Colors.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,201}</string>
                <key>spriteSourceSize</key>
                <string>{218,201}</string>
                <key>textureRect</key>
                <string>{{0,757},{218,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Six_Pairs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,177}</string>
                <key>spriteSourceSize</key>
                <string>{192,177}</string>
                <key>textureRect</key>
                <string>{{0,570},{192,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Three_Flushes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,187}</string>
                <key>spriteSourceSize</key>
                <string>{203,187}</string>
                <key>textureRect</key>
                <string>{{192,570},{203,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Three_Straights.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,225}</string>
                <key>spriteSourceSize</key>
                <string>{244,225}</string>
                <key>textureRect</key>
                <string>{{0,964},{244,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arranging.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,53}</string>
                <key>spriteSourceSize</key>
                <string>{200,53}</string>
                <key>textureRect</key>
                <string>{{197,240},{200,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>compare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,49}</string>
                <key>spriteSourceSize</key>
                <string>{197,49}</string>
                <key>textureRect</key>
                <string>{{0,240},{197,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flush_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flush_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{108,0},{108,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>four_of_a_kind_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,48}</string>
                <key>spriteSourceSize</key>
                <string>{213,48}</string>
                <key>textureRect</key>
                <string>{{216,0},{213,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>four_of_a_kind_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,48}</string>
                <key>spriteSourceSize</key>
                <string>{213,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{213,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullhouse_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,48}</string>
                <key>spriteSourceSize</key>
                <string>{204,48}</string>
                <key>textureRect</key>
                <string>{{213,48},{204,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullhouse_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,48}</string>
                <key>spriteSourceSize</key>
                <string>{204,48}</string>
                <key>textureRect</key>
                <string>{{0,96},{204,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highcard_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,54}</string>
                <key>spriteSourceSize</key>
                <string>{196,54}</string>
                <key>textureRect</key>
                <string>{{125,293},{196,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highcard_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,54}</string>
                <key>spriteSourceSize</key>
                <string>{196,54}</string>
                <key>textureRect</key>
                <string>{{0,347},{196,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,48}</string>
                <key>spriteSourceSize</key>
                <string>{83,48}</string>
                <key>textureRect</key>
                <string>{{204,96},{83,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,48}</string>
                <key>spriteSourceSize</key>
                <string>{83,48}</string>
                <key>textureRect</key>
                <string>{{287,96},{83,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,53}</string>
                <key>spriteSourceSize</key>
                <string>{125,53}</string>
                <key>textureRect</key>
                <string>{{0,293},{125,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>single Colors.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,207}</string>
                <key>spriteSourceSize</key>
                <string>{275,207}</string>
                <key>textureRect</key>
                <string>{{218,757},{275,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start game copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,61}</string>
                <key>spriteSourceSize</key>
                <string>{345,61}</string>
                <key>textureRect</key>
                <string>{{0,509},{345,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,54}</string>
                <key>spriteSourceSize</key>
                <string>{161,54}</string>
                <key>textureRect</key>
                <string>{{196,347},{161,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,54}</string>
                <key>spriteSourceSize</key>
                <string>{161,54}</string>
                <key>textureRect</key>
                <string>{{0,401},{161,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_flush_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,54}</string>
                <key>spriteSourceSize</key>
                <string>{277,54}</string>
                <key>textureRect</key>
                <string>{{161,401},{277,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>straight_flush_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,54}</string>
                <key>spriteSourceSize</key>
                <string>{277,54}</string>
                <key>textureRect</key>
                <string>{{0,455},{277,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>three straight flushes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,240}</string>
                <key>spriteSourceSize</key>
                <string>{284,240}</string>
                <key>textureRect</key>
                <string>{{0,1430},{284,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>three_of_a_kind_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,48}</string>
                <key>spriteSourceSize</key>
                <string>{213,48}</string>
                <key>textureRect</key>
                <string>{{0,144},{213,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>three_of_a_kind_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,48}</string>
                <key>spriteSourceSize</key>
                <string>{213,48}</string>
                <key>textureRect</key>
                <string>{{213,144},{213,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>two_pair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,48}</string>
                <key>spriteSourceSize</key>
                <string>{195,48}</string>
                <key>textureRect</key>
                <string>{{0,192},{195,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>two_pair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,48}</string>
                <key>spriteSourceSize</key>
                <string>{195,48}</string>
                <key>textureRect</key>
                <string>{{195,192},{195,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TextCardBinh.png</string>
            <key>size</key>
            <string>{497,1670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2908b141f1edc4a5b37c07fe71bea2f6:a4d51605f905f7121d5c0d0d1a3afb57:e1b811e725fc2d6494f969e99bedc2b0$</string>
            <key>textureFileName</key>
            <string>TextCardBinh.png</string>
        </dict>
    </dict>
</plist>
